@import url('http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

.container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 30px;

	width: 1200px;
	height: 78px;
}
.container1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 5px;

	width: 720px;
	height: 90px;
}
.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 10px;

	width: 200px;
	height: 90px;
}
.number {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap: 10px;

	width: 50px;
	height: 50px;
	/* background: linear-gradient(135deg, #a1a1aa 0%, #18181b 100%); */
	border-radius: 120px;
}
.box-text {
	/* width: 99px; */
	height: 30px;

	font-family: 'Poppins';
	font-style: normal;
	/* font-weight: 600; */
	font-size: 20px;
	line-height: 150%;
	/* color: #27272a; */
}
.line {
	width: 50px;
	height: 0px;
	/* border: 1px solid #e4e4e7; */
}
.labels {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 10px;

	width: 380px;
	height: 78px;
}
.text {
	height: 24px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: #27272a;
}
.input {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 0px;
	gap: 10px;
	/* width: 380px; */
	height: 44px;
	background: #ffffff;
	border-bottom: 1px solid #71717a;
}
.button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 8px 16px 8px 24px;
	gap: 5px;
	/* width: 108px; */
	height: 40px;
	top: 550px;
	left: 546px;
	background: #18181b;
}
.button-text {
	width: 39px;
	height: 24px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #ffffff;
}
.upload {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0px;
	gap: 10px;

	width: 296px;
	height: 74px;
}
@media(max-width:480px) {
	.container{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 300px;
		font-size: x-small;
		gap: 2px;
		align-items: center;
		
		
		
		
	}
	.container1{
		/* width: 100%; */
		height: 220px;
		text-align: center;
		
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
	
	
}